.TransferFunds {
    background-color: rgb(46, 219, 158);
    border-radius: 5px;
    padding: 7px;
    margin: 15px 0;
    .title {
        margin-bottom: 5px;
    }
    button {
        margin-left: 15px
    }
}