.SignupPage {
    background-color: pink;
    border-radius: 5px;
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 7px;
    .title {
        margin-bottom: 8px;
    }
    .text-input {
        display: block;
        margin: auto;
        margin-bottom: 8px;
        text-align: left;
    }
    img {
        height: 100px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}